<div ng-repeat="(key, value) in results">
  <ul class="nav nav-pills">
    <li class="active"> <a href="{{ hash }}/rent/{{ results.records.prov | urlFormat }}/{{ results.records.city | urlFormat }}"><span class="fui-arrow-left"></span> See more apartments near {{ results.records.city }}, {{ results.records.prov }}</a> </li>
  </ul>
  
  <!-- Google geo loc -->
  <div itemprop="geo" itemscope="" itemtype="http://schema.org/GeoCoordinates">
    <meta itemprop="latitude" content="{{ results.records.lat }}">
    <meta itemprop="longitude" content="{{ results.records.lng }}">
  </div>
  <div class="row" style="position:relative;">
    <div class="col-md-7">
      <div style="font-size:15px;color:#667683;text-transform:uppercase;font-weight:500;text-align:left;line-height:26px;padding:48px 0 95px 0px; min-height:359px;">
        <div style="margin-bottom:31px;">
          <div itemprop="name" style="font-size:30px;color:#2c3e50;font-weight:600;line-height:35px;">{{ results.records.name }}</div>
          <div itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress" style="font-weight:100;"><span itemprop="streetAddress">{{ results.records.address }}</span>, <span itemprop="addressLocality">{{ results.records.city }}</span>, <span itemprop="addressRegion">{{ results.records.prov }}</span>, {{ results.records.cntry }}, <span itemprop="postalCode">{{ results.records.post }}</span></div>
        </div>
        <div style="margin-bottom:31px;">
          <div style="font-weight:100;">Page ID: {{ results.records.id_pg }}, Posted: {{ results.records.date }}</div>
          <div style="font-weight:100;"><i class="icon-star-empty" data-prop="{{ results.records.id_pg }}"></i> Add to My Places</div>
          <div style="font-weight:100;"><a ng-href="http://www.walkscore.com/score/{{ results.records.address | urlFormat }}-{{ results.records.city | urlFormat }}-{{ results.records.prov | urlFormat }}-{{ results.records.cntry | urlFormat }}-{{ results.records.post | urlFormat }}/lat={{ results.records.lat }}/lng={{ results.records.lng }}" target="_blank">See Walk Score</a></div>
        </div>
        <div class="hm-cta pull-right" style="position:absolute;bottom:48px;right:0px;"> 
        	<a ng-show="results.records.phone1 != 000" href="tel://1-{{ results.records.phone1 }}-{{ results.records.phone2 }}-{{ results.records.phone3 }}" class="btn btn-inverse" style="background-color:#09977b;">
          		<div class="fui-chat"></div>
          		({{ results.records.phone1 }}) {{ results.records.phone2 }}-{{ results.records.phone3 }}
          	</a> 
				<div style="display:inline-block;" data-ng-controller="ModalController">
					<script type="text/ng-template" id="modal.html">
						<div class="modal-header">
							<h3 class="modal-title">Contact Form</h3>
						</div>
						<form id="contactSeller" method="post">
						<input type="hidden" ng-model="page" ng-init="page='home'" />
						<div class="modal-body">
						  <div class="form_result">{{message}}</div>
						  <div class="row form-group">
							<div class="col-lg-3">Your Name</div>
							<div class="col-lg-9">
							  <input ng-model="contact.dname" class="form-control" id="cname" type="text" name="dname" minlength="2" />
							</div>
						  </div>
						  <div class="row form-group">
							<div class="col-lg-3">Your Email <span class="red">*</span></div>
							<div class="col-lg-9">
							  <input ng-model="contact.demail" class="form-control email required" id="cemail" type="text" name="demail" />
							</div>
						  </div>
						  <div class="row">
							<div class="col-lg-12"> Your Message <span class="red">*</span> <br />
							  <textarea ng-model="contact.dcomment" class="form-control required" id="ccomment" name="dcomment" rows="5"></textarea>
							  <small class="pull-right"><span class="red">*</span> Required field</small> </div>
						  </div>
						</div>
						<div class="modal-footer">
						  <button class="btn" ng-click="cancel()">Close</button>
						  <button id="seller" class="btn btn-primary" name="seller" ng-click="ok()">Send</button>
						</div>
					  </form>
					</script>
					<button class="btn btn-primary avail tile-btn-primary" ng-click="open()"><div class="fui-mail"></div> Check Availability</button>
				</div>
		</div>
      </div>
    </div>
    <div class="col-md-5"> 
		<div ng-show="results.records.photo != null" bx-slider prop="{{ results.records.id_pg }}" name="bxslider1" size="390" thumb-pager="true" class="pull-right"></div>
		<div ng-show="results.records.photo == null">
			<img src="http://placehold.it/390x390&amp;text=Photos%20Coming%20Soon" itemprop="image" alt="Photos Coming Soon" width="390" height="390" class="img-rounded img-responsive pull-right">
		</div>
	</div>
  </div>
  <section id="units">
    <h3>Units</h3>
    <hr>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Style</th>
          <th>Beds</th>
          <th>Baths</th>
          <th>Sq. Ft.</th>
          <th>Rent</th>
          <th>Deposit</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ results.records.style }}</td>
          <td>{{ results.records.beds }}</td>
          <td>{{ results.records.ba }}</td>
          <td>{{ results.records.sq_ft }}</td>
          <td>${{ results.records.rent }}</td>
          <td>{{ results.records.dep }}</td>
        </tr>
      </tbody>
    </table>
  </section>
  <section id="directions">
      <h3>Nearby</h3>
      <hr>
      <div class="row">
        <div class="col-lg-8">
        </div>
        <div class="col-lg-4">
          <p class="clearfix"><a class="btn btn-block btn-primary btn-lg pull-right directions" href="https://maps.google.com/maps?saddr=&amp;daddr=181 Village Green Sq   , Toronto, ON, Canada, M1S 0K6" target="_blank">Get directions</a></p>
          <p> <br>
            <strong>Kennedy &amp;401 2years new 2bdr &amp;2bath condo</strong>
                      </p><address>
          181 Village Green Sq   <br>Toronto, ON<br>Canada, M1S 0K6          </address>
          <p></p>
        </div>
      </div>
    </section>
  <section id="info">
    <h3>About</h3>
    <hr>
    <div itemprop="description" ng-bind-html="results.records.text"></div>
  </section>
  <section id="feat">
      <h3>Features</h3>
      <hr>
      <div class="row">
		<div class="col-lg-3"> 
		<strong>Health / Outdoor</strong>
        <table class="table table-striped">
            <tbody><tr><td>BBQ</td></tr><tr><td>Sauna</td></tr><tr><td>Fitness Center</td></tr>          </tbody></table>
        </div>
                <div class="col-lg-3"> <strong>Transportation</strong>
          <table class="table table-striped">
            <tbody><tr><td>Public Transportation</td></tr><tr><td>University Shuttle Service</td></tr>          </tbody></table>
        </div>
              </div>
  </section>
  <div ng-show="myvar != null"></div>
  <br>
  <br>
  {{ results.records }} 
</div>